:root {
    --clr-background: #1E1E1E;
    --clr-topBackground: #262626;
    --clr-blue: #009DDC;
    --clr-red: #780303;
    --clr-text: #F5F0F6;
    --clr-gold: #D7B377;
    --clr-gold50: #d7b4778a;
    --clr-grey: #757575;

    --boxshadow: 0 1px 5px 3px rgb(0 0 0 / 50%);
    --boxshadowY: 0 3px 10px 0px rgb(0 0 0 / 50%);
}
